body {
    background-color: black;
    display: grid;
    justify-content: center;
    align-items: center;
    color: yellow;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    box-sizing: border-box;
}

.wall {
    background-color: gold;
}

.power-pellet {
    background-color: skyblue;
    border-radius: 10px;
}

.blinky {
    background-image: url(../assets/blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pinky {
    background-image: url(../assets/blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.inky {
    background-image: url(../assets/blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.clyde {
    background-image: url(../assets/blue.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pac-man {
    background-image: url(../assets/pacman.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.scared-ghost {
    background-color: aquamarine;
}